.logoMain {
    left: var(--paddinLeftRightgGlobal);
    top: 30px;
    z-index: 0;
    position: absolute;
 }

 .logoMain img {
    width: 100%;
    height:  100%;
 }


 @media only screen and (max-width: 1150px) {
    
    .logoMain {
        left: 4rem;
        top: 30px;

     }
    
    .logoMain img {
      width: 100%;
      height:  100%;
     }
  }


  @media only screen and (max-width: 681px) {
    .logoMain {
        top: 15px;
        left: 2rem;        
     }
   
    .logoMain img {
      width: 100%;
      height:  100%;
        
     }
  }
