.logoMain {
  left: var(--paddinLeftRightgGlobal);
  top: 30px;
  z-index: 0;
  position: absolute;
}

@media only screen and (max-width: 1150px) {
  .logoMain {
    top: 30px;
  }
}

@media only screen and (max-width: 681px) {
  .logoMain {
    top: 15px;
  }
}
