.container {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: var(--paddinLeftRightgGlobal);
  padding-right: var(--paddinLeftRightgGlobal);
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.imageContainer {
  width: var(--imageContainerWidth);
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: var(--imgMaxW);
}

.textContainer {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.textContainer h1 {
  color: var(--titleColor);
  font-size: max(28px, min(8vw, 42px));
  letter-spacing: 0.02em;
  font-weight: 800;
  margin-bottom: 1rem;
}

.h1Span {
  border: 2px solid #ffffff;
  width: 100%;
  max-width: var(--h1SpanMaxWidth);
  margin-bottom: 5rem;
}

.contactText {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 150%;
}

.contactText:not(:last-child) {
  margin-bottom: 1.5rem;
}

.contactText:nth-child(4) {
  margin-bottom: 1.5rem;
}

.textBoxContainer div {
  font-size: 18px;
  line-height: 30px;
  display: flex;
}

.textBoxContainer div:not(:last-child) {
  margin-bottom: 1rem;
}

.textBoxContainer div {
  display: flex;
  justify-content: space-between;
}

.socialContainerItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}

.socialContainerItem img {
  margin-right: 0;
  width: 30px;
  height: 30px;
}

.socialContainerItem:nth-child(1) {
  margin-top: 2rem;
}

.socialContainerItem:nth-child(2) {
  margin-bottom: 0rem;
}

.btnContainerItem {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}


@media only screen and (max-width: 1150px) { 

    .btnContainerItem {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
}


@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .itemsContainer {
    width: 100%;
  }

  .imageContainer {
    margin-top: 4rem;
  }

  .btnContainer {
    width: 100%;
  }

}

@media only screen and (max-width: 450px) {
  .btnContainerItem a {
    display: inline-grid;
    width: 100% !important;
  }
}
