.container {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: var(--paddinLeftRightgGlobal);
  padding-left: var(--paddinLeftRightgGlobal);
  padding-right: var(--paddinLeftRightgGlobal);
}

.imageContainer {
  width: var(--imageContainerWidth);
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  height: 100%;
  width: 100%;
  max-width: var(--imgMaxW);
  object-fit: contain;
}

.textContainer {
  padding-top: var(--textContainerPaddingTopBottom);
  padding-bottom: var(--textContainerPaddingTopBottom);
  width: var(--textContainerWidth);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
}

.textContainer h1 {
  color: var(--titleColor);
  font-size: var(--h1title);
  line-height: var(--h1lineH);
  letter-spacing: 0.02em;
  font-weight: 800;
  margin-bottom: 1rem;
  text-align: center;
}

.textContainer h1 span {
  font-size: 80%;
}

.h1Span {
  border: 2px solid #ffffff;
  width: 100%;
  max-width: var(--h1SpanMaxWidth);
  margin-bottom: 15px;
}

@media only screen and (min-width: 2160px) {
  .textContainer h1 {
    font-size: var(--h1titleBig);
    line-height: var(--h1lineHBig);
  }
}

.textContainer p {
  font-size: var(--ptext);
  line-height: var(--plineH);
  margin-bottom: 3rem;
  max-width: var(--textMaxWidth);
  text-align: center;
}

.btnContainer {
  display: flex;
  gap: 2rem;
}

/* TABLET max-width: 1150px */

@media only screen and (max-width: 1150px) {
  .container {
    min-height: 410px;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }

  .imageContainer {
    order: 0;
  }
}

@media only screen and (max-width: 681px) {
  .imageContainer {
    min-height: 177px;
  }

  .btnContainer a {
    width: 100%;
    display: inline-grid;
  }

  .imageContainer img {
    min-height: 177px;
  }

  .textContainer p {
    font-weight: 400;
    line-height: 150%;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .btnContainer a button {
    margin-right: 0 !important;
  }
}

/*LARG DEVICE*/
