.container {
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 500px;
}

.imageContainer {
  width: 55%;
  order: 2;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.textContainer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
}

.textContainer h1 {
  color: var(--titleColor);
  font-size: var(--h1title);
  line-height: var(--h1lineH);
  letter-spacing: 0.02em;
  font-weight: 800;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1920px) {
    .textContainer h1 {
        font-size: var(--h1titleBig);
        line-height: var(--h1lineHBig);
      } 
}


.textContainer p {
  font-size: var(--ptext);
  line-height: var(--plineH);
  margin-bottom: 3rem;
  max-width: 399px;
  text-align: center;
}

@media only screen and (min-width: 1920px) {
    .textContainer p {
        font-size: var(--ptextBig);
        line-height: var(--plineHBig);
        max-width: 600px;

      } 
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* TABLET max-width: 1150px */

@media only screen and (max-width: 1150px) {
  .container {
    background-image: none;
    height: 100%;
    width: 100%;
    min-height: 410px;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }

  .imageContainer {
    order: 1;
    width: 100%;
  }

  .textContainer {
    max-width: 100%;
    width: 100%;
    padding-top: 0;
    padding-bottom: 9rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 3rem;
  }

  
    .textContainer h1 {
        font-size: var(--h1titleSm);
      } 

}

@media only screen and (max-width: 681px) {
  .imageContainer {
    min-height: 177px;
  }

  .imageContainer img {
    min-height: 177px;
  }

  .textContainer {
    margin-top: 0;
    padding-bottom: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
  }

  .textContainer p {
    font-weight: 400;
    line-height: 150%;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .btnContainer a:not(:last-child) {
    margin-bottom: 3rem;
    margin-right: 0;
  }

  .btnContainer a button {
    margin-right: 0 !important;
  }
}

/*LARG DEVICE*/
