.container {
    padding: var(--eventContainerPadding);
    display: flex;
    justify-content: space-between;
    max-width: var(--maxWJoinUseAndEvent);
    align-items:center;
    flex-direction: column;
    background-color: #444444;
    width: var(--eventAndJoinUsContainerWidth);
    min-height: 358px;
    border-radius: 3rem;
    box-shadow: 5px 5px 20px 0px #00000040;
}


.containerText h2 {
    color: var(--mianTextColor);
    font-size: var(--h2titleJoinandEvent);
    line-height: var(--h2lineH);
    text-align: center;
}

.h1Span {
    border: 2px solid var(--mainTextColor);
    width: 100%;
    max-width: var(--h1SpanMaxWidth);
    margin-top: 15px;
    margin-bottom: 25px;
  }

.containerText {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerText p {
   font-size: 18px;
   line-height: 27px;
   color:var(--mianTextColor); 
}


.btnContainer {
    margin-top: 3rem;
}