:root {
  --bcColor: #333333;
  --mainTextColor: #ffffff;
  --titleColor: #ffffff;
  --titleColor2: #ffffff;
  --navTextColor: #000000;
  --mobileMenuColor: #2d2d2d;

  --btn1Color: #de0000;
  --btn2Color: #de0000;
  --btnTextColor: #ffffff;
  --btnContact: #ED8A23;

  --titleColorHover: radial-gradient(
    72.58% 318.91% at 7.42% 100%,
    #ee8100 0%,
    #ec4700 64.24%,
    #ec0e00 100%
  );
  --titleColor2Hover: radial-gradient(
    85.42% 369.23% at 0% 155.68%,
    #009d8c 0%,
    #003fe1 53.88%,
    #3400c9 100%
  );
  --titleColor3Hover: #ffffff;
  --titleColor4Hover: #ee0000;
  --languageHover: #aaaaaa;

  --h1title: max(28px, min(4vw, 62px));
  --h1lineH: max(35px, min(10vw, 54px));

  --h2title: max(28px, min(3vw, 52px));
  --h2lineH: 41.66px;

  --plineH: 20.83px;
  --ptext: max(16px, min(3vw, 17px));

  --ulLiTextSize: max(18px, min(3vw, 18px));
  --ulLiTextLineH:27px;

  --h1titleSm: max(40px, min(10vw, 60px));

  --h1titleBig: max(78px, min(30vw, 90px));
  --h1lineHBig: max(50px, min(10vw, 100px));

  --plineHBig: 30.83px;
  --ptextBig: max(18px, min(4vw, 24px));

  --paddinLeftRightgGlobal: 5vw;
  --textContainerPaddingTopBottom: 4rem;

  --textContainerWidth: 45%;
  --textMaxWidth: 80%;

  --imageContainerWidth: 55%;
  --imgMaxW: 1000px;
  
  --h1SpanMaxWidth:50px;

 /*PAGES*/

  --pageH1MarginTop:10.5rem;
  --pageH1MarginBottom:8.5rem;


  
  /*Event join US*/
  --eventContainerPadding: 5rem 8rem 5rem 8rem;
  --eventAndJoinUsContainerWidth:50%;
  --maxWJoinUseAndEvent:950px;
  --h2titleJoinandEvent: max(28px, min(3vw, 32px));
}


/*TABLET*/

@media only screen and (max-width: 1150px) {
  :root {
    --imgMaxW: 600px;
    --imageContainerWidth: 100%;
    --textMaxWidth: 90vw;
    --textContainerWidth: 100%;
    --h1title: max(32px, min(5vw, 42px));
    --h2title: max(24px, min(5vw, 32px));
    --eventContainerPadding: 5rem 4rem 5rem 4rem;
    --eventAndJoinUsContainerWidth:100%;
  }
}

/*MOBILE*/

@media only screen and (max-width: 681px) {
  :root {
    --textMaxWidth: 100%;
    --textContainerPaddingTopBottom: 2rem;
    --h2lineH: 31.25px;
    --pageH1MarginTop:4rem;
    --pageH1MarginBottom:5rem;
    --eventContainerPadding: 4rem 2rem 4rem 2rem;

  }
}

/*ULTRA-BIG-SCREEN*/

@media only screen and (min-width: 1800px) {
  :root {
    --h1SpanMaxWidth:100px;
    --h2lineH: 60.66px;
    --ulLiTextSize: max(14px, min(3vw, 22px));
    --ulLiTextLineH:30px;
    --ptext: max(17px, min(4vw, 19px));
    --plineH: 25.83px;
    --h2titleJoinandEvent: max(32px, min(3vw, 48px));
  }
}


*::-webkit-scrollbar {
  width: 0.8em;
  background-color: #fde4cf;
}

*::-webkit-scrollbar-thumb {
  background-color: #de0000;
  height: 300px;
  border-radius: 50px;
}

*:focus,
*:active {
  box-shadow: none;
  outline: none !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  outline: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

html,
body {
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: inherit;
}

body {
  background-color: var(--bcColor);
  color: var(--mainTextColor);
  margin-inline: auto;
  position: relative;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.event-and-joinUs-container {
  display: flex;
  background-color: #e66a6a;
}

h1 {
  position: relative;
  margin-bottom: 3rem !important;
}

h1::after {
  content: "";
  width: 100%; /* Use 100% to span the entire width of the container */
  height: 3px; /* Adjust the thickness of the underline */
  max-width: 50px;
  background-color: #FFFFFF; /* Set the underline color */
  position: absolute;
  bottom: -15px; /* Adjust this value to control the distance between text and underline */
  left: 50%; /* Center the underline horizontally */
  transform: translateX(-50%);
}

h2 {
  position: relative;
  margin-bottom: 3rem !important;
}

h2::after {
  content: "";
  width: 100%; /* Use 100% to span the entire width of the container */
  height: 3px; /* Adjust the thickness of the underline */
  max-width: 50px;
  background-color: #FFFFFF; /* Set the underline color */
  position: absolute;
  bottom: -15px; /* Adjust this value to control the distance between text and underline */
  left: 50%; /* Center the underline horizontally */
  transform: translateX(-50%);
}

.emailSpan {
  text-decoration: underline;
}


.image-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.zoomed {
  cursor: zoom-in;
}

.zoomed-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%; /* A nagyított kép mérete */
  height: 100%; /* A nagyított kép mérete */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  border: 1px solid #650707; /* opcionális: keret a nagyított kép körül */
}