.button  {
    padding: 10px 20px;
    background: var(--btn1Color);
    color: var(--btnTextColor);
    cursor: pointer;
    position: relative;
    font-size: 18px;
    line-height: 29.92px;
    border: none;
    border-radius: 10px;
    transition: all .4ms ease-in;
    text-transform: uppercase;
    font-weight: 700;
}


.buttonGetInTouch {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 29.92px;
    color: var(--btn1Color);
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .1s ease-in-out;
    background: none;
    font-weight: 700;

}

.btEmpthy {
    background-color: transparent;
    color:var(--btn1Color);
     border: 2px solid var(--btn1Color);
}

.differentTexMainColor  {
    padding: 10px 20px;
    background: var(--btn1Color);
    color: var(--btnTextColor);
    cursor: pointer;
    position: relative;
    font-size: 20px;
    line-height: auto;
    border: none;
    border-radius: 10px;
    transition: all .4ms ease-in;
}

.btnFooter {
    padding: 0 !important; 
    background-color: transparent;
    font-size: 3.2rem;
}


@media only screen and (max-width: 1150px) {
    
.button:hover::before {
    opacity: 0;
}

.buttonGetInTouch:hover {
    color: var(--navTextColor);
}

}