.button  {
    padding: 10px 20px;
    background: var(--btn1Color);
    color: var(--btnTextColor);
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    transition: all .4ms ease-in;
    text-transform: uppercase;
    font-weight: 700;
    border:  1px solid var(--btn1Color);
    transition: all 150ms ease;
}

.button:hover {
    background: #B65E02;
    border: 1px solid #B65E02;

}


.buttonGetInTouch {
    position: relative;
    padding: 10px 20px;
    font-size: 18px;
    color: #ED8A23;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .1s ease-in-out;
    background: none;
    font-weight: 700;
    text-decoration:none;
    transition:  textDecoration 150ms ease;

}


.buttonGetInTouch::after {
    content: "";
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 0%;
    background-color:#ED8A23;

    transition: all 160ms ease-in-out;
}


.buttonGetInTouch:hover::after {
    width: 70%;
    color: #FFA800;
}

.btEmpthy {
    background-color: transparent;
    color:var(--mainTextColor);
    border:  1px solid #FFFFFF;
}

.btEmpthy:hover {
    background-color:#FFFFFF;
    color:black;
    border:  1px solid #FFFFFF;
}

.differentTexMainColor  {
    padding: 10px 20px;
    background: var(--btn1Color);
    color: var(--btnTextColor);
    cursor: pointer;
    position: relative;
    font-size: 20px;
    line-height: auto;
    border: none;
    border-radius: 10px;
    transition: all .4ms ease-in;
}

.btnFooter {
    padding: 0 !important; 
    background-color: transparent;
    font-size: 3.2rem;
    border: none;
}
